body {
    font-family: 'Montserrat', sans-serif;}


.header {
    /* background: url('https://images.unsplash.com/photo-1452948491233-ad8a1ed01085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fG1hcmtldCUyMHZlZ2V0YWJsZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60'); */
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0%;
    margin: 0% 0%;
    display:flex;
    flex-flow: row wrap;
    color:black;
}    
.nav {
    width:100%;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
    background-color: black;
    padding:4px;
    
}


.link {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
}
.link:hover{
    font-weight:bold;
    text-decoration:underline;
    text-decoration-color:rgb(287, 69, 69);
}

h1 {
    background-color:white;
    width:100%;
    font-size:2.4rem;
    margin:0;
    text-align:center;
    font-weight:300;
}

h2 {
    padding: 1%;
}

.item-cards{
   
    display: flex;
    flex-flow: row wrap;
    align-items:baseline;
    text-align: center;
    padding: 3%;
    width:100%;
    opacity: 0.9;
}

.card-container {
    background-color: rgba(255, 255, 255, 0.404);;
    display:flex;
    flex-flow: column;
    justify-content:center;
    width: 25%;
    margin: 2%;
    padding:1%;
}
.card-container img{
    height:200px;
    object-fit:cover;
    object-position:center;
}

.items-list-wrapper {
    /* background:url('https://images.unsplash.com/photo-1533321942807-08e4008b2025?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dmVnZXRhYmxlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60'); */
    background-image:url('https://images.unsplash.com/photo-1542838132-92c53300491e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1074&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    min-height:70vh;
    padding:0;
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
}
.items-list-wrapper-copy {
    /* background:url('https://images.unsplash.com/photo-1533321942807-08e4008b2025?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dmVnZXRhYmxlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60'); */
    background-image:url('https://images.unsplash.com/photo-1542838132-92c53300491e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1074&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    min-height:70vh;
    padding:0;
    margin:0;
  
}
.dash-container{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    width:100%;
    border:3px solid black;

}
.item-cards-dash{
    border:3px solid black;
    display: flex;
    justify-content:space-around;
    align-items:center;
    text-align: center;
    padding: 3%;
    width:100%;
    opacity: 0.9;
    box-sizing: border-box;

}
.card-container-dash {
    background-color: rgba(255, 255, 255, 0.404);;
    display:flex;
    justify-content:center;
    width: 500px;
    margin: 2%;
    padding:1%;
    box-sizing: border-box;

}
.edit-form{
    display:flex;
    justify-content:center;
    align-items:center;
}
.card-container-dash img{
    height:200px;
    object-fit:cover;
    object-position:center;
    box-sizing: border-box;
}

form {
    background-color:rgb(122, 122, 129);
    display:flex;
    flex-flow: column wrap;
}

button {
    color:white;
    font-size: 20px;
    background-color:rgb(54, 54, 61);
    margin: 1%;
    padding:2px;
    width:100px;
}

.add-container {
    
    display:flex;
    justify-content: center;
    margin: 0% 4%;
}

.add-form {
    background-color:white;
    color:rgb(54, 54, 61);
    width:70%;
    border-radius:5px;
    margin: 1%;
    text-align: center;
    padding:2%;
    width:250px;
    height:300px;
}

.dashboard-h2 {
    font-size: 60px;
    padding:2%;
}

.register-wrapper {
    padding:3%;
    font-size: 30px;
    margin:2%;
    text-align: center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:rgba(255, 255, 255, 0.404);
    width:300px;
    height:300px;
}

input {
    margin: 2%;
    font-size: 20px;
}

@media (max-width:800px){

    .item-cards{
    
        display: flex;
        flex-flow: column wrap;
        align-items:baseline;
        text-align: center;
        padding: 3%;
        width:100%;
        opacity: 0.9;
    }
}